<header>
  <div class="header-title">
    <p>〜 ToDo App 〜</p>
  </div>
</header>

<main>

  <div class="input-block">
    <div class="name-block">
      <div class="input-title">ユーザー名：</div>
      <div class="name-input-form">
        <input type="text">
      </div>
    </div>
    <div class="new-todo-block">
      <div class="new-todo-title">新規ToDo：</div>
      <div class="todo-input-form">
        <input type="text">
      </div>
    </div>
  </div>

  <div class="todo-list">
    <div class="todo-list-title">
      〜 登録済ToDo List 〜
    </div>
    <div class="todo-table">
      <table>
        <tr class="table-row">
          <div class="todo-text">ToDo-data1</div><div class="user-text">ユーザー1</div>
        </tr>
        <tr class="table-row">
          <div class="todo-text">ToDo-data2</div><div class="user-text">ユーザー2</div>
        </tr>
        <tr class="table-row">
          <div class="todo-text">ToDo-data3</div><div class="user-text">ユーザー3</div>
        </tr>
        <tr class="table-row">
          <div class="todo-text">ToDo-data4</div><div class="user-text">ユーザー4</div>
        </tr>
      </table>
    </div>
  </div>
</main>

<footer></footer>