.header-title {
  background-color: #A5F1FF;
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 20px 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-block {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.input-block {
  margin: 50px 50px 80px 0px;
}

.input-title {
  margin-right: 15px;
}

.new-todo-block {
  display: flex;
  align-items: center;
}

.new-todo-title {
  margin-right: 20px;
}

.todo-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-table {
  margin-top: 10px;
}

.table-row {
  border: solid 1px black;
  display: flex;
  align-items: center;
}

.todo-text {
  margin: 5px 80px 5px 50px;
}

.user-text {
  margin: 5px 30px 5px 0px;
}